* {
  transition: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  transition: none;
}

#root {
  transition: none;
  height: 100vh;
  width: 100vw;
}

.theme-toggle {
  z-index: 9999999;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: #878787;
  cursor: pointer;
}

/* width */

::-webkit-scrollbar {
  width: 1px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  position: absolute;
  right: -1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}